/* Color Palette With General Configurations */
:root {
  --primary-color: #4caf50;
  --secondary-color: #ffc107;
  --background-color: #f9f9f9;
  --text-color: #333333;
  --red-color: #c92424;
  --header-footer-bg-color: #2c3e50;
  --hover-color: #3498db;
  --border: 1px solid #ccc;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --base-font-size: 10px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

/* General Font Size */
html {
  font-size: var(--base-font-size);
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

.edit-button, .delete-button, .add-button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button {
  background-color: var(--primary-color);
}

.add-button:hover {
  background-color: #4caf50;
}

.delete-button {
  background-color: var(--red-color);
}

.delete-button:hover {
  background-color: #c92424;
}

.edit-button {
  background-color: var(--secondary-color);
}

.edit-button:hover {
  background-color: #ff9800;
}

/* auth-forms styles */
.auth-forms-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-forms-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 40rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.auth-forms-container form h2 {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 1rem 0;
}

.auth-forms-container form label {
  font-size: 2rem;
}

.auth-forms-container form input {
  padding: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
}

.auth-forms-container form button {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--hover-color);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-forms-container form button:hover {
  background-color: #2980b9;
}

.auth-forms-container form a {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-forms-container form a:hover {
  background-color: #359b39;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--header-footer-bg-color);
  z-index: 1000;
}

header .logo {
  width: 5rem;
  height: 5rem;
}

header .logo img {
  width: 100%;
  height: 100%;
}

header .navbar ul {
  display: flex;
  column-gap: 3rem;
}

header .navbar ul li {
  list-style: none;
}

header .navbar ul a {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

header .navbar ul a:hover {
  background-color: var(--hover-color);
}

header .icons {
  display: flex;
  column-gap: 1.5rem;
}

header .icons .icon i {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

header .icons .icon i:hover {
  cursor: pointer;
  color: var(--hover-color);
}

/* User Box Styles */
header {
  position: relative;
}

header #user-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 0.5rem;
  direction: ltr;
  position: absolute;
  top: 8rem;
  right: 1rem;
  background-color: #fff;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  transform: translateX(150%);
  transition: transform 0.3s;
}

header #user-box.show {
  transform: translateX(0);
}

header #user-box span {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

header #user-box button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

header #user-box button:hover {
  background-color: #ff9800;
}

header #user-box a {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: var(--red-color);
  border-radius: 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

header #user-box a:hover {
  background-color: #b42828;
}

/* Modal Styles For Updating User Account*/
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: #fff;
  padding: 2rem;
  border: var(--border);
  min-width: 40rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.close {
  color: var(--red-color);
  font-size: 3rem;
  align-self: flex-end;
  transition: transform 0.3s;
  cursor: pointer;
}

.close:hover {
  transform: rotate(-90deg);
}

.modal-content h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.modal-content input {
  padding: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.modal-content button {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #ff9800;
}

/* Medicine Styles */
.medicines-container {
  display: flex;
}

/* Right Side Container */
.right-side-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-left: 5px solid var(--primary-color);
  background-color: #fff;
  padding: 2rem;
}

.right-side-container .info-content {
  text-align: center;
  border-bottom: 5px solid var(--primary-color);
  border-radius: 0.5rem;
}

.right-side-container .info-content h1 {
  color: var(--hover-color);
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.right-side-container .info-content img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
}

/* Add Medicine Container */
.add-medicine {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

/* Add Medicine Form */
#add-medicine-form {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

#add-medicine-form input,
#add-medicine-form button {
  padding: 1rem;
  font-size: 1.6rem;
  border: var(--border);
  border-radius: 0.5rem;
}

#add-medicine-form button {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-medicine-form button:hover {
  background-color: var(--hover-color);
}

/* Left Side Container */
.left-side-container {
  width: 75%;
  padding: 0 2rem;
}

/* Medicines Table */
#medicines-table {
  border-collapse: collapse; /* Remove Space Between Table Cells */
  font-size: 1.6rem;
}

#medicines-table thead {
  background-color: var(--primary-color);
  color: white;
}

#medicines-table thead th {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

#medicines-table tbody tr {
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
  background-color: #fff;
}

#medicines-table tbody tr td img {
  max-width: 100%;
  border-radius: 0.5rem;
}

#medicines-table tbody tr td button{
  padding: 1rem;
}

/* Footer Styles */
footer {
  background-color: var(--header-footer-bg-color);
  color: #fff;
  padding: 2rem;
  text-align: center;
}

footer p {
  margin: 1rem 0;
  font-size: 1.6rem;
}

footer span {
  color: var(--primary-color);
  font-weight: bold;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: var(--hover-color);
}

footer .social-media {
  margin-top: 2rem;
}

footer .social-media p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

footer .social-media a {
  font-size: 2rem;
  margin: 0 1rem;
  color: #fff;
  transition: color 0.3s;
}

footer .social-media a:hover {
  color: var(--hover-color);
}
